<div class="row">
	<div class="col-lg-6">
		<h1>Hospedajes <small>Ultimos Agregados</small></h1>
	</div>
	<div class="col-lg-6 pull-right">
		<br>
        <form class="form-inline pull-right">            
    		<input type="text" ng-model="buscar" class="form-control input-lg" placeholder="Buscar Hotel">
            <select class="form-control input-lg btn btn-success btn-lg">
                <option value="">Departamento</option>
                <option value="cono sur">Cono Sur</option>
                <option value="">Natividad</option>
                <option value="">Ciudad Nueva</option>
                <option value="">Centro Tacna</option>
                <option value="">Boca del Rio</option>
            </select>            
        </form>
	</div>
</div>
<hr>

<div class="row">
  <div class="col-sm-3" ng-repeat="item in items | filter:buscar">    
    <div class="thumbnail">
    	<a href="item/{{item.$id}}">
      		<img ng-src="{{item.fotos[0] ? 'https://s3-us-west-2.amazonaws.com/katuq/' + item.fotos[0] : 'http://placehold.it/300x300' }}" class="img-responsive" id="item_img" style="margin:auto; height: 250px; width: 300px">
      	</a>
      <div class="caption">
        <h3>{{item.nombre}} <small>({{item.simples.precio}} S/.)</small></h3>
        <table class="table table-condensed">                   	
            <tr ng-show="item.simples.cantidad == undefined">
            	<td>
            		<b>Cuartos Simples </b>
            	</td>
                <td>
                	<code>No Definido</code>
                </td>
            </tr>
            <tr ng-hide="item.simples.cantidad == undefined">
                <td>
                    <b>Cuartos Simples </b>
                </td>
                <td>
                    <code>{{item.simples.disponibles}}/{{item.simples.cantidad}}</code>
                </td>
            </tr>

            <tr ng-show="item.dobles.cantidad == undefined">
                <td>
                    <b>Cuartos dobles </b>
                </td>
                <td>
                    <code>No Definido</code>
                </td>
            </tr>
            <tr ng-hide="item.dobles.cantidad == undefined">
                <td>
                    <b>Cuartos dobles </b>
                </td>
                <td>
                    <code>{{item.dobles.disponibles}}/{{item.dobles.cantidad}}</code>
                </td>
            </tr>
        </table>        
        <p class="text-center">
            <a class="btn btn-primary" href="item/{{item.$id}}">
            	<span class="glyphicon glyphicon-eye-open"></span> Ver mas.
            </a>
        </p>
      </div>
    </div>
  </div>
</div>
