<div class="row" style="font-size: 120%;">
    <div class="col-lg-8">
        <ol class="breadcrumb">
          <li><a href="/">Inicio</a></li>
          <li class="active">{{item.nombre}} </li>
        </ol>
    </div>
</div>       

<div class="row">
    <div class="col-lg-8">
        <h1>{{item.nombre}} <small>Ubicado en {{item.distrito}} - desde {{item.simples.precio}} S/.</small></h1>
    </div>
    <div class="col-lg-4 text-right">
        <h2 style="color: #8A8A8A;">
            <small>Califica</small>
            <span 
                ng-class="{'glyphicon glyphicon-star': star1 == true, 'glyphicon glyphicon-star-empty': star1 == false}"
                ng-click="changeStart(1)">
            </span>
            <span 
                ng-class="{'glyphicon glyphicon-star': star2 == true, 'glyphicon glyphicon-star-empty': star2 == false}"
                ng-click="changeStart(2)">
            </span>
            <span 
                ng-class="{'glyphicon glyphicon-star': star3 == true, 'glyphicon glyphicon-star-empty': star3 == false}"
                ng-click="changeStart(3)">
            </span>
            <span 
                ng-class="{'glyphicon glyphicon-star': star4 == true, 'glyphicon glyphicon-star-empty': star4 == false}"
                ng-click="changeStart(4)">
            </span>
            <span 
                ng-class="{'glyphicon glyphicon-star': star5 == true, 'glyphicon glyphicon-star-empty': star5 == false}"
                ng-click="changeStart(5)">
            </span>
        </h2>
    </div>
</div>

<div class="row">
	<div class="col-lg-8">
		<uib-carousel interval="myInterval" no-wrap="noWrapSlides">
	      <uib-slide ng-repeat="slide in item.fotos">
	        <img ng-src="https://s3-us-west-2.amazonaws.com/katuq/{{slide}}" style="margin:auto; height: 465px; width: 750px">
            <div class="carousel-caption">
                <h4>{{item.nombre + $index}}</h4>
                <p>{{slide}}</p>
            </div>
	      </uib-slide>
	    </uib-carousel>
	</div>
	<div class="col-lg-4">
		<div class="panel panel-default">
            <div class="panel-heading" style="font-size: 130%;">
                <span class="glyphicon glyphicon-comment"></span> Chat Online
                                
            </div>
            <div class="panel-body" style="height: 360px; overflow-y: scroll;">            
                <div class="clearfix" ng-repeat="message in item.messages"  style="font-size: 115%;">
                    <strong class="primary-font">{{message.user}}</strong>
                    <p>
                        {{message.contenido}}
                    </p>
                </div>               
            </div>
            <div class="panel-footer">
                <div class="input-group">
                    <form ng-submit="guardarMessage()" class="form-inline">
                        <div class="form-group">
                            <input type="text" class="form-control" ng-model="message">
                        </div>
                        <button type="submit" class="btn btn-success">Enviar</button>
                    </form>
                </div>
            </div>
        </div>
	</div>
</div>
<div class="row">
    <div class="col-lg-8">
        <div class="panel panel-default">
            <table class="table" style="font-size: 130%;">
                <tr>
                    <td width="1%"></td>
                    <td width="25%"><strong>Telefono:</strong></td>
                    <td>{{item.telefonos}}</td>
                </tr>
                <tr>
                    <td width="1%"></td>
                    <td width="25%"><strong>Direccion:</strong></td>
                    <td>{{item.direccion}}</td>
                </tr>
                <tr>
                    <td width="1%"></td>
                    <td width="25%"><strong>Servicios Generales:</strong></td>
                    <td>
                        <p ng-repeat="servicio in item.servicios">
                            {{servicio}}
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="1%"></td>
                    <td width="20%"><strong>Descripcion:</strong></td>
                    <td>{{item.descripcion}}</td>
                </tr>
            </table>

        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-body">
              <table class="table" style="font-size: 120%;">
                    <tr>
                        <td colspan="3">
                            <h3>Disponibilidad y Precios</h3>
                        </td>
                    </tr>
                    <tr class="active">
                        <th>Habitaciones</th>
                        <th>Precio S/.</th>
                        <th>Disponibles</th>
                    </tr>
                    <tr ng-hide="item.simples.cantidad == undefined" class="success">
                        <td>Simples</td>
                        <td>{{item.simples.precio}} S/.</td>
                        <td><code>{{item.simples.disponibles}} de {{item.simples.cantidad}}</code></td>
                    </tr >
                    <tr ng-hide="item.normales.cantidad == undefined" class="warning">
                        <td>Normales</td>
                        <td>{{item.normales.precio}} S/.</td>
                        <td><code>{{item.normales.disponibles}} de {{item.normales.cantidad}}</code></td>
                    </tr>
                    <tr ng-hide="item.dobles.cantidad == undefined" class="info">
                        <td >Dobles</td>
                        <td>{{item.dobles.precio}} S/.</td>
                        <td><code>{{item.dobles.disponibles}} de {{item.dobles.cantidad}}</code></td>
                    </tr>
                    <tr ng-hide="item.departamentos.cantidad == undefined" class="danger">
                        <td >Departamentos</td>
                        <td>{{item.departamentos.precio}} S/.</td>
                        <td><code>{{item.departamentos.disponibles}} de {{item.departamentos.cantidad}}</code></td>
                    </tr>
                </table>
                {{prueba}}
            </div>
        </div>
    </div>
</div>  
<div class="row">
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>Ubicacion Geografica</h3>
                <hr>
                <ng-map 
                  center="{{item.latitude}}, {{item.longitude}}"
                  zoom="18"                  
                  tilt="45"                  
                  heading="90"                  
                  scrollwheel="false"
                  style="height: 430px;">        
                  <marker position="{{item.latitude}}, {{item.longitude}}"></marker>            
                </ng-map>   
            </div>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-lg-12">
        
    </div>
</div>