	<!-- Menu -->
	<nav class="navbar navbar-default" role="navigation" ng-controller="statusLoginController">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">

		        <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
		       		<span class="icon-bar"></span>
		        	<span class="icon-bar"></span>
		        </button>
	        	<a class="navbar-brand" href="/">Katuq.com</a>
	      	</div>
	    
	      	<!-- Collect the nav links, forms, and other content for toggling -->
	      	<div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">
	      
		        <ul class="nav navbar-nav">		          
					<li dropdown ng-class="{active: lugar != 'Lugares'}">
						<a href="#" dropdown-toggle >{{lugar}} <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="" ng-click="changeLugar('ninguno')">Ninguno</a></li>
							<li><a href="" ng-click="changeLugar('ciudad_nueva')">Ciudad Nueva</a></li>
							<li><a href="" ng-click="changeLugar('conosur')">Cono Sur</a></li>
							<li><a href="" ng-click="changeLugar('villani')">Villani</a></li>
							<li><a href="" ng-click="changeLugar('natividad')">Natividad</a></li>
							<li><a href="" ng-click="changeLugar('centro')">Centro</a></li>
						</ul>
					</li>
					<li dropdown ng-class="{active: precio != 'Precios'}">
						<a href="#" dropdown-toggle>{{precio}} <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="" ng-click="changePrecio('ninguno')">Ninguno</a></li>
							<li><a href="" ng-click="changePrecio('precio_baratos')">Precios Baratos</a></li>
							<li><a href="" ng-click="changePrecio('precio_caros')">Precios Caros</a></li>
						</ul>
					</li>
					<li dropdown ng-class="{active: estrella != 'Estrellas'}">
						<a href="#" dropdown-toggle>{{estrella}} <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="" ng-click="changeEstrellas('ninguno')">Ninguno</a></li>
							<li><a href="" ng-click="changeEstrellas('mejor_calificados')">Mejor Calificados</a></li>
							<li><a href="" ng-click="changeEstrellas('peor_calificados')">Peor Calificados</a></li>							
						</ul>
					</li>
					<li dropdown ng-class="{active: ultimos != 'Ultimos'}">
						<a href="#" dropdown-toggle>{{ultimos}} <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="" ng-click="changeUltimos('ninguno')">Ninguno</a></li>
							<li><a href="" ng-click="changeUltimos('ultimos_agregados')">Nuevos Agreados</a></li>
							<li><a href="" ng-click="changeUltimos('ultimos_antiguos')">Ultimos Agregados</a></li>							
						</ul>
					</li>
					<li ng-class="{active: isActive('/admin')}" ng-show="status">
	            		<a href="/admin">Administrar</a>
	            	</li>
		          
		        </ul>
		        <form class="navbar-form navbar-left" role="search">
		        	<div class="form-group">
		        		<input type="text" class="form-control" placeholder="Nombre del Hotel">
		        	</div>
		        	<button type="submit" class="btn btn-default">Buscar</button>
		        </form>
	        	<ul class="nav navbar-nav navbar-right">	          			      			
	          		<li>
		            	<a href="" ng-click="unlogin()" ng-show="status">		
		              		{{authData.password.email}} 
		              		<span class="glyphicon glyphicon-share"></span>
		              	</a>
		              	<a href="/login" ng-hide="status">
		                	Login
		              	</a>	              		
		            </li>
	        	</ul>
	      	</div><!-- /.navbar-collapse -->
		</div>
    </nav>


    <!-- End Menu -->